{% raw %}{% load static %}{% endraw %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% raw %}{% block title %}{% endblock %}{% endraw %}</title>
        <meta name="description" content="{% raw %}{% block description %}{% endblock %}{% endraw %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if cookiecutter.use_compass == 'yes' %}
        <link rel="stylesheet" href="{% raw %}{% static 'css/styles.css' %}{% endraw %}">
        {% elif cookiecutter.use_bootstrap == 'yes' %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        {% endif %}
        {% raw %}{% block css %}{% endblock %}{% endraw %}
    </head>
    <body>
        <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <main id="Main">
            {% block content %}{% endblock %}
        </main>

        {% if cookiecutter.use_bootstrap == 'yes' %}
            {% if cookiecutter.use_compass == 'yes' %}
                {% raw %}
                <!-- Use as needed -->
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                <script src="{% static 'js/bootstrap/button.js' %}"></script>
                <script src="{% static 'js/bootstrap/modal.js' %}"></script>
                <script src="{% static 'js/bootstrap/tooltip.js' %}"></script>
                <script src="{% static 'js/bootstrap/alert.js' %}"></script>
                <script src="{% static 'js/bootstrap/carousel.js' %}"></script>
                <script src="{% static 'js/bootstrap/dropdown.js' %}"></script>
                <script src="{% static 'js/bootstrap/popover.js' %}"></script>
                <script src="{% static 'js/bootstrap/affix.js' %}"></script>
                <script src="{% static 'js/bootstrap/scrollspy.js' %}"></script>
                <script src="{% static 'js/bootstrap/collapse.js' %}"></script>
                <script src="{% static 'js/bootstrap/tab.js' %}"></script>
                <script src="{% static 'js/bootstrap/transition.js' %}"></script>
                {% endraw %}
            {% else %}
                <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
            {% endif %}
        {% endif %}
        {% raw %}{% block js %}{% endblock %}{% endraw %}
    </body>
</html>
