[buildout]

## dump downloaded eggs versions to versions.cfg
versions = versions
show-picked-versions = true

# separate from system
allowed-eggs-from-site-packages = false

extends =
    local.cfg
    versions.cfg


# by default don't check for update eggs
newest = false

# nifty eggs sharing/caching
# eggs-directory = /home/you/.buildout/eggs
# download-cache = /home/you/.buildout/dlcache

parts =
    env
    django
    eggs

eggs =
    flup        # for runfcgi
    Fabric      # for automate some operations
    ipython     # django shell with ipython
    django-extensions
    {% if cookiecutter.database_engine == 'postgres' %}psycopg2{% endif %}
    {% if cookiecutter.database_engine == 'mysql' %}MySQL-python{% endif %}
    {% if cookiecutter.migration_engine == 'south' %}south{% endif %}
    {% if cookiecutter.admin_engine == 'grappelli' %}django-grappelli{% endif %}

extra-paths = ${buildout:directory}
              ${buildout:directory}/parts
              ${buildout:directory}/{{ cookiecutter.project_name }}

[env]
recipe = gocept.recipe.env

[eggs]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
scripts = ipython fab
interpreter = python
extra-paths = ${buildout:extra-paths}


